@{
    ViewBag.Title = "Contact";
}
<style>
    .shaker {
        animation: .5s shaker infinite alternate;
    }

    .shaker:hover {
        animation: none;
    }

    @@keyframes shaker {
        0% {
            transform: rotate(-15deg);
        }

        5% {
            transform: rotate(15deg);
        }

        10% {
            transform: rotate(-15deg);
        }

        15% {
            transform: rotate(15deg);
        }

        20% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(0deg);
        }
    }
</style>

<br />
<h4 class="shaker">
    <strong>By Francisco Villanueva</strong> <br /> <br />
    <strong>Email:</strong> <a href="mailto:francisco.villanueva@softtek.com">francisco.villanueva@softtek.com</a>
</h4>

