@{
    ViewBag.Title = "Contact";
}
<style>

    /*body {
        animation: fadeInAnimation ease 5s;
        animation-fill-mode: forwards;
    }

    @@keyframes fadeInAnimation {
        0% {
            opacity: 0;
        }

        90% {
            opacity: .8;
        }

        100% {
            opacity: 1;
        }
    }*/

    .shaker {
        animation: 2s shaker infinite alternate ease-in-out;
    }

        .shaker:hover {
            animation: none;
        }

    @@keyframes shaker {
        0% {
            transform: rotateX(-45deg);
        }

        80% {
            transform: rotateX(20deg);
        }
        /*0% {
            transform: rotate(-15deg);
        }

        80% {
            transform: rotate(15deg);
        }*/
        /*10% {
            transform: rotate(-15deg);
        }

        15% {
            transform: rotate(15deg);
        }*/
        90% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(0deg);
        }
    }
</style>

<br />
<h4 class="shaker">
    <strong>By Francisco Villanueva</strong> <br /> <br />
    <strong>Email:</strong> <a href="mailto:francisco.villanueva@softtek.com">francisco.villanueva@softtek.com</a>
</h4>

